<div>
  @switch(piece) {
    @case(bPawn)   { <img src="assets/bp.svg"/> }
    @case(bKnight) { <img src="assets/bn.svg"/> }
    @case(bBishop) { <img src="assets/bb.svg"/> }
    @case(bRook)   { <img src="assets/br.svg"/> }
    @case(bQueen)  { <img src="assets/bq.svg"/> }
    @case(bKing)   { <img src="assets/bk.svg"/> }
    @case(wPawn)   { <img src="assets/wp.svg"/> }
    @case(wKnight) { <img src="assets/wn.svg"/> }
    @case(wBishop) { <img src="assets/wb.svg"/> }
    @case(wRook)   { <img src="assets/wr.svg"/> }
    @case(wQueen)  { <img src="assets/wq.svg"/> }
    @case(wKing)   { <img src="assets/wk.svg"/> }
  }
</div>
