.actions-panel {
  display: flex;
  background-color: rgb(80, 126, 80);
}

.action-btn-selected {
  background-color: gray;
}

.fen-container {
  padding: 5px;
}

.fen-textbox {
  width: 450px;
  padding: 3px;
  font-family: 'Courier New', Courier, monospace;
}
